@if(Messages.Any()) {
    <table class="table table-bordered table-striped mt-3 mb-1">
        <thead>
            <tr>
                <th>Code</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Messages) {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Message</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public List<CodeMessage> Messages { get; set; } = [];
}
