.page_row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.col_form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    width: 50%;
    height: 100%;
    gap: 5px;
    border: 1px solid rgba(100,100,100,.3);
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
}

.col_code_messages {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 0px;
}

.edit_form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.captcha_row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
}

.form_btns {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
